# Loading and processing the data sets

Let's start with loading the training data:

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.listdir()

['.DS_Store',
 '.git',
 '.ipynb_checkpoints',
 '.Rapp.history',
 '.RDataTmp',
 '.Rhistory',
 'GBM.rds',
 'GBM.stack.rds',
 'Kaggle Mercari Price Suggestion Challenge IPython Kernel.ipynb',
 'KaggleMercariPriceSuggestionChallengeKernel.Rmd',
 'Mercari Price Suggestion Challenge | Kaggle.pdf',
 'merged_table.rds',
 'mini_subtrain.rds',
 'mini_subtrain_locked.rds',
 'mini_train.rds',
 'new_stack_set.rds',
 'new_stack_set2.rds',
 'RF.BC.rds',
 'RF.rds',
 'RF.stack.rds',
 'RF.stack2nd.rds',
 'sample_submission.csv',
 'sample_submission.csv.7z',
 'second.stack.set.rds',
 'subtrain.rds',
 'subtrain_locked.rds',
 'SVM.rds',
 'SVM.stack.rds',
 'test.csv',
 'test.rds',
 'test.tsv.7z',
 'test_locked.rds',
 'train.csv',
 'train.rds',
 'train.tsv.7z',
 'v.txt',
 'validation.rds',
 'validation_locked.rds',
 'X_holdout.csv',
 'X_train.csv',
 'xGBM.BC.rds',
 'xGBM.BC2.rds',
 'xGBM.rds',
 'xGBM.stack.rds',
 'xGBM.stack2nd.rds',
 'y_holdout.csv',
 'y_train.csv']

In [3]:
train = pd.read_csv("train.csv")

In [4]:
train.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1482535 entries, 0 to 1482534
Data columns (total 8 columns):
train_id             1482535 non-null int64
name                 1482535 non-null object
item_condition_id    1482535 non-null int64
category_name        1476208 non-null object
brand_name           849853 non-null object
price                1482535 non-null float64
shipping             1482535 non-null int64
item_description     1482531 non-null object
dtypes: float64(1), int64(3), object(4)
memory usage: 90.5+ MB

First, let's remove the train_id from the training set, and map the numeric and character variables to being with:

In [6]:
train = train.drop("train_id",axis = 1)
train.head()

,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1482535 entries, 0 to 1482534
Data columns (total 7 columns):
name                 1482535 non-null object
item_condition_id    1482535 non-null int64
category_name        1476208 non-null object
brand_name           849853 non-null object
price                1482535 non-null float64
shipping             1482535 non-null int64
item_description     1482531 non-null object
dtypes: float64(1), int64(2), object(4)
memory usage: 79.2+ MB

In [8]:
Numeric_features_select = np.logical_or((pd.Series(train.dtypes)) == "int64",(pd.Series(train.dtypes) == "float64")).tolist()

In [9]:
Numeric_features = pd.Series(train.columns)[Numeric_features_select].tolist()

In [10]:
Numeric_features

['item_condition_id', 'price', 'shipping']

In [11]:
Text_features = pd.Series(train.columns)[np.logical_not(Numeric_features_select)].tolist()

In [12]:
Text_features

['name', 'category_name', 'brand_name', 'item_description']

Since the model evaluation will be based on the log of the target variable price, we convert it at this stage:

In [13]:
train.price = pd.Series(np.log(train.price + 1))

In [14]:
train.head()

,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,2.397895,1,No description yet
1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,3.970292,0,This keyboard is in great condition and works ...
2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,2.397895,1,Adorable top with a hint of lace and a key hol...
3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,3.583519,1,New with tags. Leather horses. Retail for [rm]...
4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,3.806662,0,Complete with certificate of authenticity

Now it is time to split the training data set into training and holdout sets in order to start building our pipeline:

In [15]:
from sklearn.model_selection import train_test_split

X = train.drop("price", axis = 1)
y = train.price

In [16]:
X_train,X_holdout,y_train,y_holdout = train_test_split(X,y,test_size = 0.4, random_state = 425)

In [17]:
type(X_train)

pandas.core.frame.DataFrame

In [18]:
type(y_holdout)

pandas.core.series.Series

In [19]:
X_train.shape

(889521, 6)

In [20]:
X_holdout.shape

(593014, 6)

In [21]:
y_train.shape

(889521,)

In [22]:
y_holdout.shape

(593014,)

At this stage, let's lockdown and save the datasets on which we will train and validate our model:

In [2]:
X_train.to_csv("X_train.csv",index=False)
X_holdout.to_csv("X_holdout.csv", index = False)
y_train.to_csv("y_train.csv", index= False)
y_holdout.to_csv("y_holdout.csv", index= False)

NameError: name 'X_train' is not defined

# Data processing amd model training pipeline

At this stage we will make high-level design for our data processing and model training pipeline. At minimum, our pipeline will need to include the following steps:

1. We need to process text and numeric features seperately, then combine them using FeatureUnion()

    2. Text  subpipeline should include:
        - A function that will merge all text in a given row to make it ready for tokenization. 
            - This function should take care of converting missing values to empty strings. 
            - It should also convert the text to lowercase.
        - We should remove common stop words and perform text stemming
        - We should tokenize using alphanumeric characters only (white space + punctuation are used as delimiters)
        - We try to include up to 3-grams

    3. Numeric subpipeline should include:
        - An imputation step to fill any missing values using mean of the column
        - A scaling step that will scale the numeric values between -1 and 1
        
4. After merging the numeric and text features we will add the following common steps:
    5. Adding interaction terms
    6. Perform a simple feature selection using X-square method we learned
    7. We will try to include a hashing step to improve computational efficiency
7. Finally, we will put a model training step, we will start with a regularized linear regression.

Once our pipeline is ready, our goals will be:

- to get some idea about the initial performance of the pipeline using the simple model in holdout set, using default hyperparameters
- then try to perform hyperparameter tuning (such as GridSearchCV or RandomSearchCV) to see if we can come up with a better model. 
- save the model that has the best overall performance ( based on rmse using holdout set)

Finally, we will repeat these steps using the same pipeline, but changing model structure to train:

- Elastic Net model
- Support vector machines
- RandomForest regression
- Gradient boosting

After these steps, we will explore ensembling these models to see if we can get a better model.

At the end of this exercise, we expect to get more competent on:

1. experiencing developing sklearn pipelines and incorporating custom functions
2. basic NLP tasks we can perform with our current knowledge
3. developing an intuition about the performance of different models, 
4. experiencing the sklearn API for hyperparameter tuning using important algorithms 

Finally, we will try to use the same sets to train Deep Neural Networks to see how they compare to the performance of shallow learning approaches.

In [3]:
import os
import pandas as pd
import numpy as np
import pickle

# Re-read the training data
X_train = pd.read_csv("X_train.csv")
y_train = pd.read_csv("y_train.csv", header=None)

# Re-read the pickled feature names
import pickle
with open("Numeric_features.pkl", 'rb') as f:
    Numeric_features = pickle.load(f)
f.close()

with open("Text_features.pkl", 'rb') as f:
    Text_features = pickle.load(f)
f.close()

## A custom function for text pre-processing

In [25]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889521 entries, 0 to 889520
Data columns (total 6 columns):
name                 889521 non-null object
item_condition_id    889521 non-null int64
category_name        885744 non-null object
brand_name           510034 non-null object
shipping             889521 non-null int64
item_description     889519 non-null object
dtypes: int64(2), object(4)
memory usage: 40.7+ MB

In [26]:
y_train.shape

(889521, 1)

In [27]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889521 entries, 0 to 889520
Data columns (total 1 columns):
0    889521 non-null float64
dtypes: float64(1)
memory usage: 6.8 MB

In [28]:
X_train.head()

,name,item_condition_id,category_name,brand_name,shipping,item_description
0,bear bag charm,2,Women/Women's Accessories/Other,NaN,0,"well made, excellent quality."
1,Rilakkuma ~♡ Mechanical Pencil Set x5,1,Handmade/Paper Goods/Stationery,NaN,1,"Brand New, unused Rilakkuma Mechanical Pencil ..."
2,Guess Rhinestone Snake Belt,1,Women/Women's Accessories/Belts,GUESS,1,"Multi-colored, rhinestone, snake pattern leath..."
3,Slow Rise Squishy ( HQ),1,Kids/Toys/Hobbies,NaN,1,•BRAND NEW -ice cream squishy -slow rise -has ...
4,"Mossimo Cream Colored Open Cardigan, NWT",1,Women/Sweaters/Cardigan,Mossimo,0,"Size medium Cream colored New w tag, retail [r..."

In [4]:
print(Numeric_features)
print(Text_features)

['item_condition_id', 'price', 'shipping']
['name', 'category_name', 'brand_name', 'item_description']

In [ ]:
def column_text_processer(df,text_columns):
    """"A function that will merge/join all text in a given row to make it ready for tokenization. 
    This function should take care of converting missing values to empty strings. 
    It should also convert the text to lowercase.
    df= pandas dataframe
    text_columns = names of the text features in df
    """ 
    # Select only non-text columns that are in the df, then drop these columns from df
    text_data = df[text_columns]
    df = df.drop(text_columns,axis = 1)
    
    # Fill the missing values in text_data using empty strings
    text_data.fillna("",inplace=True)
    
    # Join all the strings in a given row to make a vector
    text_vector = text_data.apply(x:lambda " ".join(x), apply = 1)

In [23]:
 text_data.fillna("",inplace=True)

/Users/OZANAYGUN/anaconda/lib/python3.6/site-packages/pandas/core/frame.py:2852: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [24]:
text_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889521 entries, 0 to 889520
Data columns (total 4 columns):
name                889521 non-null object
category_name       889521 non-null object
brand_name          889521 non-null object
item_description    889521 non-null object
dtypes: object(4)
memory usage: 27.1+ MB

In [33]:
 text_vector = text_data.apply(lambda x: " ".join(x), axis = 1)

In [27]:
help(str.join)

Help on method_descriptor:

join(...)
    S.join(iterable) -> str

    Return a string which is the concatenation of the strings in the
    iterable.  The separator between elements is S.